<%- include('components/navbar') %>

<div class="container">
  <!-- Page Header -->
  <h1 class="center-align">Welcome Home, <%- user.first_name %></h1>
  <br>

  <div class="container">
    <!-- Recent Splits Section -->
    <h2 class="header-text">Recent Splits</h2>

    <!-- Search Bar -->
    <div class="search-container">
      <input 
        type="text" 
        id="searchBox" 
        placeholder="Search by first or last name" 
        oninput="liveSearch(this.value)">
    </div>

    <ul class="collection" id="mainTable">
      <% payments.forEach(payment => { %>
        <li 
          class="collection-item editable-row" 
          data-entity="split" 
          data-first-name="<%= payment.first_name %>" 
          data-last-name="<%= payment.last_name %>"
        >
          <div>
            <!-- User Info -->
            <span class="title"><%= payment.first_name %> <%= payment.last_name %></span>
            
            <!-- Payment Info -->
            <p>
              Amount Due: $<%= payment.amount_due %><br>
              Status: <%= payment.status %><br>
              Due Date: <%= new Date(payment.date_due).toLocaleDateString() %><br>
              Frequency: <%= payment.frequency %>
            </p>
          </div>
        </li>
      <% }) %>
    </ul>
  </div>
</div>

<footer class="page-footer main_Color">
  <div class="container">
    <h5 class="white-text">SplitIt</h5>
    <h6 class="grey-text text-lighten-4">
      The SplitIt tool is designed to help users easily split bills 
      from utilities and rent to restaurant checks. 
      They can be scheduled or a one-time split. 
      Everything is handled from the security of Venmo Transactions.
    </h6>
    <br>
  </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const elems = document.querySelectorAll('.sidenav');
    M.Sidenav.init(elems);
  });

  // Search Function
  async function liveSearch(query) {
    console.log("Executing search query: " + query);

    // If no query, reset table
    if (!query) {
      document.querySelectorAll('.editable-row').forEach(row => row.style.display = '');
      return;
    }

    const queryLower = query.toLowerCase();

    document.querySelectorAll('.editable-row').forEach(row => {
      const firstName = row.getAttribute('data-first-name').toLowerCase();
      const lastName = row.getAttribute('data-last-name').toLowerCase();

      if (firstName.includes(queryLower) || lastName.includes(queryLower)) {
        row.style.display = '';
      } else {
        row.style.display = 'none';
      }
    });
  }
</script>
