<%- include('components/navbar') %>



  <div class="container">
    <!-- Page Header -->
    <h1 class="center-align">Welcome Home, <%- user.first_name %></h1>
    <br>

    <div class="container">
      <!-- Recent Splits Section -->
      <h2 class="header-text ">Recent Splits</h2>


      <ul class="collection">
        <% payments.forEach(payment => { %>
          <div>
            <div class="editable-row" style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
              <li class="collection-item editable-row" data-id="<%= user.user_id %>" payment-id="<%= payment.pmt_id %>" >
                <span class="title"><%= user.first_name %> <%= user.last_name %></span>
                <p><%= payment.status %></p>
              </li>
              <!-- Right-aligned price -->
              <div class="secondary-content" style="text-align: right;">
                <i class="material-icons" style="display: inline-block; text-align: right; margin-right: 20px;"><%= payment.amount_due %></i>
              </div>
            </div>
          </div>
        <% }) %>
      </ul>
      
    </div>
    
    
              
<br>
  <!-- Footer -->
  <footer class="page-footer main_Color">
    <div class="container">
      <h5 class="white-text">SplitIt</h5>
      <h6 class="grey-text text-lighten-4">
        The SplitIt tool is designed to help users easily split utility and rentbills. 
        They can be scheduled or a one time split. 
        Everything is handled from the security of Venmo Transactions.
      </h6>
      <br>
    </div>
    <div id="overlay" class="overlay hidden"></div>
  </footer>

  <!-- Materialize JavaScript (for interactive components) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const elems = document.querySelectorAll('.sidenav');
      M.Sidenav.init(elems);
    });

  </script>
</body>
</html>


<div id="editModal" class="modal hidden">
  <div class="modal-content">
    <h4 id="modalTitle">Add Admin</h4>
    <form action="/add-admin" method="POST">
      <select style="display: block;" name="add_entity_name" id="add-admin-dropdown" required>
        <option value="">Select Team Member</option>
        <% teamMembers.forEach(function(member) { %>
          <option value="<%= member.contact_id %>">
            <%= member.last_name %>, <%= member.first_name %>
          </option>
        <% }); %>
      </select>
      <div class="input-field">
        <input id="add-entity-username" type="text" name="username" placeholder="Username" required>
      </div>
      <div class="input-field">
        <input id="add-entity-password" type="text" name="password" placeholder="Password" required>
      </div>
      <div class="modal-footer">
        <button type="button" class=" adminModalClose btn grey">Cancel</button>
        <button type="submit" class="btn green">Save</button>
      </div>
    </form>
  </div>
</div>